                <html>
			<head>
				<title>Contact</title>
			</head>
			<body>
				<table border="1">
					<tr>
						<th colspan="2">Contact ({{contact.id}})</th>
					</tr>
					<tr>
						<td>First Name</td>
						<td>{{contact.firstName}}</td>
					</tr>
					<tr>
						<td>Last Name</td>
						<td>{{contact.lastName}}</td>
					</tr>
					<tr>
						<td>Phone</td>
						<td>{{contact.phone}}</td>
					</tr>
				</table>
			</body>
		</html>